# Общие исключения для всех проектов
HELP.md
.vscode/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Исключение для артефактов сборки
!target/*.jar

# Исключение для файлов внутри определённых директорий
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Исключение для билдов в определённых местах
build/
!**/src/main/**/build/
!**/src/test/**/build/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
